In [10]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

# Creates a DataFrame where index is a column, and the values are each row.
df = pd.DataFrame({"name": ['Jesse', 'Felix', 'Al'],
                    "gender": ['Male', 'Male', 'Female'],
                    "age": [26, 1.5, 27],
                    "height(cm)": [177, 83, 157],
                    "weight(lbs)": [160, 25, 127]})

# Displays the first five rows in a table
df.head()
# Gets the mean of columns that have only numerical values.
averages = df.mean()
df.head()

    name  gender   age  height(cm)  weight(lbs)
0  Jesse    Male  26.0         177          160
1  Felix    Male   1.5          83           25
2     Al  Female  27.0         157          127

In [15]:
# Selecting Row at Index 0
df.loc[0]

name           Jesse
gender          Male
age               26
height(cm)       177
weight(lbs)      160
Name: 0, dtype: object

In [16]:
# Alternative way to fill in information in panda DataFrame
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [17]:
ridership_df.head()

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705

In [22]:
# Lets make our own array using... a game franchise and its details
# columns= [Genre, Console, Protagonist, Antagonist, First Release, Millions Sold, Creator]
# index= [Mario, Starfox, Zelda, Animal Crossing]
# data=[]

nintendo_df = pd.DataFrame(data=[['Platformer', 'NES', 'Super Mario', 'Bowser', 1985, 40, 'Shigeru Miyamoto'],
                                ['Rail-Shooter', 'SNES', 'Fox McCloud', 'Andross', 1993, 4, 'Katsuya Eguchi'],
                                ['Adventure', 'NES', 'Link', 'Ganon', 1986, 6.51, 'Shigeru Miyamoto'],
                                ['Simulation', 'N64', 'Player', 'Debt', 2001, 2, 'Katsuya Eguchi']],
                          index=['Mario', 'Starfox', 'Zelda', 'Animal Crossing'],
                          columns=['Genre', 'Console', 'Hero', 'Villain', 'Release Year', 'Units Sold (millions)', 'Designer'])

nintendo_df.head()

,Genre,Console,Hero,Villain,Release Year,Units Sold (millions),Designer
Mario,Platformer,NES,Super Mario,Bowser,1985,40.00,Shigeru Miyamoto
Starfox,Rail-Shooter,SNES,Fox McCloud,Andross,1993,4.00,Katsuya Eguchi
Zelda,Adventure,NES,Link,Ganon,1986,6.51,Shigeru Miyamoto
Animal Crossing,Simulation,N64,Player,Debt,2001,2.00,Katsuya Eguchi

In [25]:
# Accessing Elements
print(nintendo_df.iloc[0])

Genre                          Platformer
Console                               NES
Hero                          Super Mario
Villain                            Bowser
Release Year                         1985
Units Sold (millions)                  40
Designer                 Shigeru Miyamoto
Name: Mario, dtype: object

In [26]:
print(nintendo_df.loc['Mario'])

Genre                          Platformer
Console                               NES
Hero                          Super Mario
Villain                            Bowser
Release Year                         1985
Units Sold (millions)                  40
Designer                 Shigeru Miyamoto
Name: Mario, dtype: object

In [27]:
print(nintendo_df['Genre'])

Mario                Platformer
Starfox            Rail-Shooter
Zelda                 Adventure
Animal Crossing      Simulation
Name: Genre, dtype: object

In [28]:
print(nintendo_df.iloc[1, 3])

Andross

In [31]:
# Multiple Rows
print(nintendo_df.iloc[1:3])

                Genre Console         Hero  Villain  Release Year  \
Starfox  Rail-Shooter    SNES  Fox McCloud  Andross          1993
Zelda       Adventure     NES         Link    Ganon          1986

         Units Sold (millions)          Designer
Starfox                   4.00    Katsuya Eguchi
Zelda                     6.51  Shigeru Miyamoto

In [33]:
# Multiple Columns
print(nintendo_df[['Genre', 'Console']])

                        Genre Console
Mario              Platformer     NES
Starfox          Rail-Shooter    SNES
Zelda               Adventure     NES
Animal Crossing    Simulation     N64